@import url('https://fonts.google.com/specimen/Bebas+Neue');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  scroll-behavior: smooth;
}
body
{
  min-height: 100px;
  overflow-x: hidden;
  background: linear-gradient(#180000,#420001,#770b01,#be2502,#fe5400);
}

#canvas-container {
  width: 100%;
  text-align: center;
}

canvas{
  /*padding: 200px;*/
  display: inline;
}

header
{
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
  background: #ffebd8;
  color: #180000;
}
section
{
  min-height: 100px;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1px;
}
section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#e29f51,transparent);
  z-index: 10000;
}
section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section img#scene
{
  mix-blend-mode: screen;
}

#text
{
  position: absolute;
  top: 44%;
  left: 70%;
  transform: translate(-41%, -80%);
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

/*Adding outline to Game Name*/
  text-shadow:
    -2px -2px 0 rgba(208, 144, 104, 0.3),
    2px -2px 0 rgba(208, 144, 104, 0.3),
    -2px 2px 0 rgba(208, 144, 104, 0.3),
    2px 2px 0 rgba(208, 144, 104, 0.3);

}
#btn
{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -48%);
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #180000;
  font-size: 1.5em;
  z-index: 9;
}
.sec
{
  position: relative;
  padding: 100px;
  background: #e29f51;
}


.container
{
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 1420px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .card
{
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.5),
              5px 5px 5px rgba(0,0,0,0.05),
              -5px -5px 5px rgba(255,255,255,0.5);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box
{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container .card:hover .box
{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.container .card .box .content
{
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2
{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0,0,0,0.02);
  transition: 0.5s;
}

.container .card:hover .box .content h2
{
  color: rgba(0,0,0,0.05);
}

.container .card .box .content h3
{
  font-size: 1.8em;
  color: #fe5400;
  z-index: 1;
  transition: 0.5s;
}

.container .card .box .content p
{
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.container .card .box .content a
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #fe5400;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a
{
  background: #D18700;
}

/*Unique Class to add outline to text (or any other object) wherever*/
.textOutline{

  text-shadow:
    -2px -2px 0 rgba(208, 144, 104, 0.3),
    2px -2px 0 rgba(208, 144, 104, 0.3),
    -2px 2px 0 rgba(208, 144, 104, 0.3),
    2px 2px 0 rgba(208, 144, 104, 0.3);
}
